
.sso_form {
  margin: 10px auto;
  display: table;
}

.sso_form legend {
  font-weight: bold;
  font-size: 110%;
}

.sso_form th {
  text-align: right;
}

.sso_form label {
  font-weight: normal;
}

.sso_form textarea,
.sso_form input[type="text"],
.sso_form input[type="password"] {
  font-size: 100%;
  width: 100%;
}
