body {
  margin: 0 auto;
  padding: 0 0 1em 0;
/*  font-size: small; */
  font-size: 72.5%;
  background-color: white;
  max-width: 900px;
}

body, td, th, input, textarea, pre, h1, h2, h3, h4, h5, h6 { color: #222222; }
body, td, th, input, textarea { font-family: sans-serif; }
pre { font-family: monospace; }

p {
  text-align: justify;
}

a { 
  color: #546035; 
}
 
a:visited { 
  color: #384024; 
} 

a:hover { 
  color: #9caa79;
} 

a img {
  border: 0;
}

acronym {
  font-variant: small-caps;
}

.errorbox {
  margin: 10px auto;
  border: 2px red solid;
  padding: 0.5em 1em;
  background-color: #fff2f2;
}

.errorbox h2 {
  font-size: 1em;
  font-weight: bold;
  display: inline;
  margin: 0 .5em 0 0;
  border: none;
}

#content {
  margin: 1em auto;
  padding: 0;
  min-width: 700px;
  max-width: 790px;
  width: 790px;
  clear: both;

  font-size: 1.2em;
/*  line-height: 1.25em; */
}

#content h1 {
/*  margin: 0.67em, 0, 0.67em, 0; */
/*  line-height: 0.3; */  /* why? */ 
  color: #384024;
} 

.content_box_left { 
  width: 48%;
  float: left;
  clear: left;
}

.content_box_right {
  width: 48%;
  float: right;
  clear: right;
}

.content_box_full {
  clear: both;
}




div.dlbutton {
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #8dea34;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #62a324;
  color: white;
  font-weight: bold;
  font-size: 110%;
  width: 18em;
  text-align: center;
}

div.dlbutton a {
  display: block;
  overflow: auto;
  color: white;
  text-decoration: none;
}

div.dlbutton a:hover, div.dlbutton a:visited {
  color: white;
  text-decoration: none;
}

div.dlbutton a:hover span {
  text-decoration: underline;
}

div.dlbutton a span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 12px;
}

div.dlbutton a img {
  vertical-align: middle;
}




table.screenshot {
  margin: 0 auto;
}

table.screenshot td {
  padding: 0 5px;
}

ul.news {
  margin: 0;
  padding: 0;
  -moz-column-count: 3;
  -moz-column-gap: 5px;
}


li.day {
  margin: 0.5em;
	padding: 0;
	list-style-type: none;
  float: left;
}

ul.events {
  margin: 0 0 0 1em;
  padding: 0;
}

ul.events li {
  list-style-type: disc;
  margin-left: 3.5em;
  padding-left: 0;
}

div.date {
  background: #FAF4C8;
	border-right: 1px solid #E3DE9F;
	border-bottom: 1px solid #E3DE9F;
	float: left;
  clear: both;
	text-align: center;
	line-height: 1.1em;
	padding: 2px 1px 5px 1px;
	width: 2.2em;
/*	color: #A19D68; */
/*	margin: 0 0.5em 1em 0; */
	margin: 0 0.5em 0em 0;
}

#more-news {
  float: right;
  clear: both;
}

div.date:first-line {
  font-size: 70%;
}


