<?php

# constants used by AuthDB
define('AUTH_SQL_HOST', 'localhost');
define('AUTH_SQL_USERNAME', 'registration');
define('AUTH_SQL_PASSWORD', 'password');
define('AUTH_SQL_DB', 'registration');

# constants used by UserDB
define('LDAP_HOST', 'localhost');
define('LDAP_BASE', 'ou=people,dc=test,dc=nomic,dc=net');
define('LDAP_USERNAME', 'uid=worker,dc=test,dc=nomic,dc=net');
define('LDAP_PASSWORD', 'password');

# reCAPTCHA account: vassalengine !Rr8txMu7
define('RECAPTCHA_PUBLIC_KEY',  '6LfXHwUAAAAAAKMG3C8uog9sAQSCkBNKp43ky5XX');
define('RECAPTCHA_PRIVATE_KEY', 'private_key');

?>
