# Redirect downloads to SourceForge when possible
RewriteEngine on
RewriteBase /releases
RewriteRule ^(VASSAL-3\.(1\.20|2\.1[01])-.+)$ http://downloads.sourceforge.net/vassalengine/$1 [R]

Options +Indexes
